.temptitle-left {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  text-align: left;
  &::after {
    content: '';
    width: 56px;
    height: 2px;
    display: block;
    background: #000000;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 31px;
  }
}

.tempsubtitle-left {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  text-align: left;
}

.temptitle-mid {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  text-align: center;
  &::after {
    content: '';
    max-width: 56px;
    height: 2px;
    display: block;
    background: #000000;
    margin: auto;
    margin-top: 26px;
  }
}

.tempsubtitle-mid {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  text-align: center;
  margin: auto;
}

// Изменения свойств тегов глобально
ul {
  list-style-type: none;
}

a {
  text-decoration: 0;
}
// Конец
