.testimonials {
}
.container {
}
.testimonials-row {
  margin-bottom: 102px;
}

.testimonials-title {
  margin-bottom: 30px;
}
.testimonials-card {
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.testimonials__item-icon {
  max-width: 360px;
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  & img {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
}

.testimonials__item_text {
  margin-left: 34px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  width: 260px;
  margin-bottom: 12px;
}
.testimonials__item_subtext {
  margin-left: 34px;
  width: 274px;
  font-family: 'Muslish';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba(#7d7987, 0.99);
}

.testimonials-readmore {
  margin-left: 34px;
  left: 0;
  font-family: 'Muslish';
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 35px;
  & a {
    color: #4089ed;
    &::after {
      content: '';
      margin-left: 7px;
      width: 17px;
      height: 11px;
      display: inline-block;
      background: url(/img/svg/arrow-right.svg) 0 0 / 100% no-repeat;
    }
  }
}
.testimonials-btn {
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  &:hover {
    background-color: #458ff6;
  }
}
.testimon-btn_link {
  font-family: 'Muslish', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  transition-duration: 900ms;
  padding: 22px 65px;
  &:hover {
    color: #000;
    transform: scale(1.1, 1.1);
    background-color: rgba(#458ff6, 0.1);
  }
}
