.footer {
  margin-top: 202px;
}

.container-footer {
  background: linear-gradient(#67c3f3 60%, #5a98f2 100%);
}

.box-footer {
  padding-top: 116px;
  padding-bottom: 109px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__info {
  height: 201px;
  width: 410px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-trafalgar {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 17px;
}
.footer-trafalgar::before {
  content: "T";
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 43px;
  text-align: center;
  color: #5b9bf3;
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 12px;
}

.footer__text {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 31px;
}

.footer__subtext {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.footer__list_company {
  height: 214px;
}
.footer__list_company :hover {
  color: rgba(0, 0, 0, 0.7);
  list-style-type: disc;
  transform: scale(1.1, 1.1);
}
.footer__list_company a {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.footer__list_region {
  height: 214px;
}
.footer__list_region :hover {
  color: rgba(0, 0, 0, 0.7);
  list-style-type: disc;
  transform: scale(1.1, 1.1);
}
.footer__list_region a {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.footer__list_help {
  height: 214px;
}
.footer__list_help :hover {
  color: rgba(0, 0, 0, 0.7);
  list-style-type: disc;
  transform: scale(1.1, 1.1);
}
.footer__list_help a {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.footer__item_company a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.footer__item_region a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

.footer__item_help a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}